{{- $utilsJS := resources.Get "js/utils.js" | resources.Fingerprint }}
<script src="{{ $utilsJS.RelPermalink }}" integrity="{{ $utilsJS.Data.Integrity }}"></script>
{{- $mainJS := resources.Get "js/main.js" | resources.Fingerprint }}
<script src="{{ $mainJS.RelPermalink }}" integrity="{{ $mainJS.Data.Integrity }}"></script>
{{- $filterJS := resources.Get "js/filter-engine.js" | resources.Fingerprint }}
<script src="{{ $filterJS.RelPermalink }}" integrity="{{ $filterJS.Data.Integrity }}"></script>
{{- if .IsHome }}
{{- $carouselJS := resources.Get "js/carousel.js" | resources.Fingerprint }}
<script src="{{ $carouselJS.RelPermalink }}" integrity="{{ $carouselJS.Data.Integrity }}"></script>
{{- end }}
